smart-sofar/flows.json
[{"id":"1b9c505aeed36f99","type":"tab","label":"Smart Sofar","disabled":false},{"id":"64b3f45084c3b50f","type":"inject","z":"1b9c505aeed36f99","name":"Poll 1s","props":[{"p":"payload"}],"repeat":"1","once":true,"payload":"","payloadType":"date","x":180,"y":120,"wires":[["550f516f02e85ad5"]]},{"id":"550f516f02e85ad5","type":"modbus-read","z":"1b9c505aeed36f99","name":"Read inverter state","dataType":"HoldingRegister","adr":"1028","quantity":"1","server":"e19322f892f77741","x":400,"y":120,"wires":[["b9ce84ed46a48b6d"],[]]},{"id":"b9ce84ed46a48b6d","type":"debug","z":"1b9c505aeed36f99","name":"State debug","active":true,"tosidebar":true,"complete":"payload","x":620,"y":120,"wires":[]},{"id":"e19322f892f77741","type":"modbus-client","name":"Sofar Modbus","clienttype":"serial","unit_id":"1"},{"id":"61a407f2bacad332","type":"global-config","env":[],"modules":{"node-red-contrib-modbus":"5.45.2"}}]